body {
  background: #000;
  color: white;
}

.lowercase {
  text-transform: lowercase;
}

.monospace {
  font-family: monospace;
}

#main {
  font-size xx-large;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 20% 20% 0% 20%;
}
