body {
  background:#000;
  font-family:monospace;
  font-size:xx-large;
  color:white;
}
p, div {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
p {
  margin:20% 20% 0% 20%;
  text-transform:lowercase;
}
div {
  margin:0% 20% 20% 20%;
}
