:root {
  --panasonic-blue: #0040be;
  --antiflash-white: #f2f3f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--antiflash-white);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main p {
  font-size: 2em;
  font-family: sans-serif;
  margin: 0 4rem;
}

main p:first-child::before {
  content: "👋";
  margin-right: 0.5em;
}

a,
a:active,
a:hover,
a:visited {
  color: var(--panasonic-blue);
  text-decoration: none;
}