@import 'config';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%
} 

body {
  background: $background-color;
  font-family: "Karla", sans-serif;
  padding: 2rem 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

.hero {
  p::before {
    content: "👋";
    display: inline-block;
    animation: shake 4s infinite ease-in 1s;
    background: transparent;
    padding-right: 0.5em;
  }

  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 100%;
}

a {
  text-decoration: none;

  &,
  &:visited {
    color: $primary-color;
  }

  &:hover,
  &:active,
  &.current {
    color: black;
  }
}

li {
  margin-left: 1.5rem;
}


nav {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
} 


@media (min-width: 600px) {
  html {
    font-size: 24px;
  }

  body {
    flex-direction: row;
  }
  
  nav {
    height: 100%;
    margin: 20px;
    ul {
      flex-direction: column;
    }

  } 
}
