<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ if $.IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
  <meta name="author" content="{{ $.Site.Params.author }}">
  <link rel="stylesheet" href="main.css">
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
</head>
<body>
  {{ block "navigation" . }}{{ partial "navigation.html" . }}{{ end }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
