* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --main-fg-color: #0040be;
  --main-bg-color: #f2f3f4;
}

body {
  background-color: var(--main-bg-color);
  font-family: sans-serif;
  font-size: 15pt;
}

.current,
nav a:hover {
  color: black;
}

nav {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

nav a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 600px) {
  nav {
    float: left;
    height: 100vh;
    transition-timing-function: ease-in;
    transition: background-color 0.5s;
    width: 100px;
  }

  nav:hover {
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
  }
}
