@import url('https://fonts.googleapis.com/css?family=Karla');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-fg-color: #0040be;
  --main-bg-color: #f2f3f4;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-fg-color);
}

nav ul {
  list-style-type: none;
} 

@media (min-width: 600px) {
  body {
    padding: 0 150px;
  }

  .hero {
    font-size: 40pt;
    display: flex;
    align-items: center;
    height: 100vh;
  }
}
