@import url('https://fonts.googleapis.com/css?family=Karla');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-fg-color: #0040be;
  --main-bg-color: #f2f3f4;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  background-color: var(--main-fg-color);
  color: var(--main-bg-color);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15pt;
  color: inherit;
}

nav a.current,
nav a:hover,
nav a:active {
  color: black;
}

@media (min-width: 600px) {
  body {
    flex-direction: row;
  }

  nav {
    transition-timing-function: ease-in;
    transition: background-color 0.5s;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
  }

  nav ul {
    flex-direction: column;
  }

  nav:hover {
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
  }
}
