$primary-color: #0040be;
$background-color: #f2f3f4;

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(30deg);
  }
  6% {
    transform: rotate(-10deg);
  }
  9% {
    transform: rotate(15deg);
  }
  12% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Karla');

